:root {
--bg: #020617;
--card: #0f172a;
--card2: #111c33;
--primary: #3b82f6;
--primary-dark: #2563eb;
--green: #22c55e;
--green-dark: #16a34a;
--text: #f8fafc;
--muted: #94a3b8;
--border: rgba(255, 255, 255, 0.8);
--shadow: 0 20px 50px rgba(0, 0, 0,.35);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;

    background:
      radial-gradient(circle at top left,
      rgba(59,130,246,.15),
      transparent 25%)
      var(--bg);

    color: var(--text);

    min-width: 100vh;
}

button,
input,
select {
    font-family: inherit;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.page {
  display: none;
  animation: fade .25s ease;
}

.page.active {
  display: block;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.topbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  backdrop-filter: blur(17px);
  background: rgba(2,6,23,.75);
  border-bottom: 1px solid var(--border);
}

.topbar-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.topbar-logo{
  text-decoration: none;
  color: wheat;
  font-size: 28px;
  font-weight: 800;

}
.topbar-logo span {
  color: var(--green);
}

.topbar-nav {
  display: flex;
  align-items: center;
  gap: 14px;
}

.topbar-nav button {
  background: transparent;
  border: none;
  color: var(--muted);
  cursor: pointer;

  font-size: 15px;
  font-weight: 600;

  transition: .25s
}

.topbar-nav button:hover {
  color: white;
}

.hero {
  min-height: 85vh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.hero-content {
  max-width: 600px;
}

.badge {
  display: inline-block;

  padding: 10px 18px;

  border-radius: 999px;

  background: rgba(255, 255, 255,.05);

  border: 1px solid var(--border);

  color: var(--muted);

  margin-bottom: 24px;
}

.hero h1 {
  font-size: 72px;
  line-height: 1.1;
  font-weight: 800;

  margin-bottom: 24px;
}

.hero h1 em {
  color: var(--green);
  font-style: normal;
}

.hero p {
  color: var(--muted);

  font-size: 20px;
  line-height: 1.7;

  max-width: 700px;

  margin: 0 auto 40px;
}

.hero-action {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.btn {
  border: none;

  padding: 15px 24px;
  border-radius: 14px;
  font-size: 15px;
  font-weight: 700;

  cursor: pointer;

  transition: .25s;
}
